<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!-- This is a wide open CSP declaration. To lock this down for production, see below. -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />
    <!-- Good default declaration:
    * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
    * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
    * Disables use of eval() and inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
        * Enable inline JS: add 'unsafe-inline' to default-src
        * Enable eval(): add 'unsafe-eval' to default-src
    * Create your own at http://cspisawesome.com
    -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: 'unsafe-inline' https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *" /> -->

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
  	<link rel="stylesheet" type="text/css" href="../css/font_awesome/css/font-awesome.min.css">
      <!--<link rel="stylesheet" type="text/css" href="css/index.css" />-->

    <script type="text/javascript" src="../lib/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="../lib/popper.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/timer.js"></script>
    <title>Timer</title>
</head>


<body ng-app="timerApp">

	<div>
    <nav class="navbar navbar-dark bg-dark">
  		<a class="navbar-brand" href="#">The Professor Book</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  			<i class="fa fa-bars" aria-hidden="true"></i>

  		</button>

  		<div class="collapse navbar-collapse" id="collapsibleNavbar">
  			<ul class="navbar-nav">
  				<li class="nav-item">
					<a class="nav-link" href="../index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="rules.html"><i class="fa fa-book" aria-hidden="true"></i> Ruleset</a>
  				</li>
				<li class="nav-item">
					<a class="nav-link" href="timer.html"><i class="fa fa-clock-o" aria-hidden="true"></i> Timer</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="psCalculator.html"><i class="fa fa-calculator" aria-hidden="true"></i> HP Calculator</a>
  				</li>
				<li class="nav-item">
					<a class="nav-link" href="penalties.html"><i class="fa fa-gavel" aria-hidden="true"></i> Penalties</a>
  				</li>
  				<li class="nav-item">
					<a class="nav-link" href="settings.html"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
  				</li>
  				<li class="nav-item">
					<a class="nav-link" href="#" onclick="navigator.app.exitApp();"><i class="fa fa-power-off" aria-hidden="true"></i> Exit</a>
  				</li>
  			</ul>
  		</div>
  	</nav>
	</div>
  <div>
    <div ng-controller="timerCtrl">
        <div class="row justify-content-center" style="padding:1%">
          <div class="col text-center">
          <button class="btn btn-secondary btn-block" type="button" id="option1" ng-click="setTime(1200)" >Set Bo1</button>
        </div>
        <div class="col text-center">
          <button class="btn btn-secondary btn-block" type="button" id="option2" ng-click="setTime(3000)" >Set Bo3</button>
        </div>
      </div>
      <div class="alert alert-primary text-center" style="padding:1%" role="alert">
        <p class="h3" ng-bind="counter | secondsToDateTime | date:'mm:ss'"></p>
        <p class="h3" ng-bind="counter"></p>
      </div>
      <!-- <p ng-bind="timeLimit"></p> -->
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{time}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( time + '%' ) }"></div>
      </div>
      <div class="row justify-content-center" style="padding:1%">
        <div class="col text-center">
    <button type="button" class="btn btn-success btn-block" ng-click="start()" ng-disabled="status == 'start'">Start</button>
  </div>
  <!-- <div class="col text-center">
    <button type="button" class="btn btn-info btn-block" ng-click="reset()">Reset</button>
  </div> -->
  <div class="col text-center">
    <button type="button" class="btn btn-danger btn-block" ng-click="stop()" ng-disabled="status == 'stop'">Stop</button>
  </div>
</div>
    <p ng-bind="time.progress"></p>
  </div>
  </div>

  </body>
</html>
